.dropArea{
  position: relative;
  text-align: center;
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  border-style: solid;
  border-color: #002147;
  background-color: white;
}

.dropAreaHover{
  border-style: dashed !important;
  border-color: green !important;
  border-width: thick !important;
}

.correct{
  background-color: green !important;
}

.incorrect{
  background-color: red !important;
}

#topSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 70%;
  background: #747678;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#bottomSection{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  overflow: hidden;
  background: white;
}

#checkButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30%;
  height: 40%;
  color: #FFF;
  background-color: #002147;
  margin-right: 20px;
  font-size: 20px;
}

#resetButton{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 30%;
  height: 40%;
  margin-left: 20px;
  font-size: 20px;
}

.btn{
  display: inline-block;
  margin-bottom: 0;
  padding: 0.6em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #002147;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  line-height: 1.42857;
}

.btn-danger{
  color: #FFF;
  border-color: #EC1010;
  background-color: #EC1010;
}

#dragList{
  overflow-x: scroll;
  overflow-y: hidden;
  display:flex;
  flex-direction: row;
  height: 50%;
  box-sizing: border-box;
}

.dragItem{
  padding: 0.6em 1em;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #002147;
  color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  white-space: nowrap;
  z-index: 5;
}

html{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

section.header {
    border-bottom: 1px solid #fff;
}

h1{
  display: inline-block;
  font-size: 20px;
  color: #002147;
}

h2{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #002147;
}

#tryAgainScreen{
  position: absolute;
  padding: 10px;
  width: 90%;
  bottom: 30%;
  left: 100%;
  background-color: white;
  border-radius: 4px;
  z-index: 10;
  text-align: center;
  box-sizing: border-box;
}

#endScreen{
  position: relative;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100vw;
  background-color: white;
  z-index: 10;
  text-align: center;
  box-sizing: border-box;
}

.hidden{
  display: none;
}

#endScreen a{
  position: relative;
  font-size: 10px;
  background-color: #002147;
  color: white;
}

#closeButton{
  position: absolute;
  left: 25%;
  width: 50%;
  bottom: 20px;
}

#endMessage{
  color: white;
  background-color: #047E8B;
  padding: 10px;
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* !important is needed sometimes */
::-webkit-scrollbar {
  width: 12px !important;
  height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #002147 !important;

}
::-webkit-scrollbar-thumb:window-inactive {
 background: #002147 !important;
}
